*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url(../img/retiro.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	font-family: verdana;

}
form{
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.3);
	padding: 12px 40px;
	box-sizing: border-box;
	margin-top: 30px;
	border-radius: 7px;
	box-sizing: border-box;


}

h2{

   color: #DAA520;
   text-align: center;
   margin: 0;
   font-size: 30px;
   margin-bottom: 17px;

}

input textarea {
	width: 100px;
	margin-bottom: 20px;
	padding: 9px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;

}

textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;

}
#botton:hover {
	cursor: pointer;

}

@media (max-width: 480px) {
	form{
		width: 100%;

	}

}

