* {

color: #212F3C;

}

body {
	font: 15px Times New Roman, verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #aaaaaa;
 }

 .title h1{
    padding: 15px 0;
    text-align: center;
    font-size: 2.9em;
    color: #fff;

}

 h1{
    padding: 0.1px 0;
    text-align: center;
    font-size: 2.4em;
    color: #fff;


 }
.container {
    background: #CACFD2;
    width: 80%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.8em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer{
    background: #FADBD8;
    padding: 20px;
    border: 1px solid #FADBD8;
    
    }
.container .footer{
    font-size: 2.3em;
}
    .container .header,
    .container .footer{
        grid-column: 1/6;
        background: #5D6D7E;
        color: #fff;
        
    }

    .container .content{
        grid-column: span 1;
    }

    .container .sidebar{
        grid-column: span 4;
        background: #A6ACAF;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2.0em;
        text-align: center;
        height: 1000px;

    }

    .content .article{
        image-resolution: 300x300;
        background: #807e90;
        padding: 60px;
        margin-top: 4px;
    }



    h3{
        font-size: 5.0em;
        text-align: center;
        font-size: 1.1em
    }

form{
    font-size: 2.1em;
    text-align: center;
    align-items: center;
    background: rgb(224, 148, 6);
    padding: 60px;
    border: 5px solid #E8DAEF;
    width: 90%;
    max-width: 1000px;
    margin: 1.8em auto;

    
    gap: 1.8em;

}

