*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url(../img/fucsia.jpg);
	background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	font-family: verdana;

}

.contenedor-form {
    position: relative;
	background: rgba(0,0,0,.7);
	width: 100%;
	max-width: 500px;
	margin: 48px;
	color: #fff;
	border-radius: 9px;

	padding: 40px;

}

.contenedor-form .toogle {
	position: absolute;
	top: 7px;
	right: 7px;
	right: 100px;
	height: 30px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border-top: 2px solid #7FB3D5;
	border-bottom: 2px solid #7FB3D5;
	transition: all.5s ease;
	cursor: pointer;

}

.contenedor-form .toogle  span {
	letter-spacing: 1px;

}

.contenedor-form .toogle:hover {

	border-top: 2px solid #FFCDD2;
	border-bottom: 2px solid #FFCDD2;

}

.contenedor-form h2 {
	margin: 0 0 20px 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 2px;

}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],{

	outline: none;
	background: rgba(0,0,0,.5);
	display: block;
	width: 200%;
	padding: 10px 15px;
	color: #fff;
	border: none;
	border-radius: 4px;
	border.bottom: 4px solid #ff851b;
	font-family: verdana;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 20px 0;
	transition: all .5s ease;


}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus {

	 border-bottom: 4px solid #7FB3D5;
         
}

.contenedor-form input[type="submit"] {
	background: #7FB3D5;
	color: #fff;
	border: none;
	width: 41%;
	padding: 6px 0;
	font-weight: normal;
	font-family: verdana;
	letter-spacing: 2px;
	font-size: 11px;
	cursor: pointer;

}

.contenedor-form input[type="submit"]:hover {

	background: rgba(255, 205, 210);

}






